body{

    background-color: #005F5F;
    margin: 0;

}

.Conteiner-Cabeçalho{

    background-color: #008B8B;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98,9%;
    height: 150px;
    overflow: hidden;
    gap: 55px;
    padding: 15px;
    margin: 0px;
    border-radius: 1px;
    min-height: 150px;
    color: #fff;

}

.Titulo-principal{

    background-color: #008B8B;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    left: 40%;
    color: #fff;
    top: -10px;
    font-size: large;

}

.Entrada-site{

    
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    left: 40%;
    margin-top: -60px;
    color: #fff;

}

.img-gas{

    background-color: #008B8B;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: auto;
    padding: 5px;
    margin: 5px;
    z-index: 1;
    left: 80px;
    
}

.img-agua{

    background-color: #008B8B;
    display: flex;
    position: absolute;
    justify-content: left;
    align-items: left;
    width: 150px;
    height: auto;
    padding: 5px;
    margin: 5px;
    z-index: 1;
    left: 87%;

}

/*parte central do site*/

.Linha-Branca{

    background-color: aliceblue;
    border: none;
    width: 100%;
    height: 50px;
    margin: 0px;

}
/*-------------------corpo do site-----------------*/

.Conteiner-Corpo-Site{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 27%;
    height: auto;
    padding: 15px;
    margin: 100px auto 0px auto;

}

.Conteiner-Corpo-Site h1{

    font-size: 45px;
    padding: 5px;
    color: #fff;

}

.Conteiner-Corpo-Site h2{

    font-size: 23px;
    padding: 5px;
    color: cadetblue;

}

.Conteiner-Corpo-Site h3{

    font-size: 16px;
    padding: 5px;
    color: #fff;
    
}

.Button-Corpo{

    background-color: deepskyblue;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    font-size: 16px;
    color: #fff;
    border: none;
    transform: 0.3;
    font-weight: bold;

}

.Button-Corpo:hover{

    transform: scale(1.1);
    cursor: pointer;

}

/*TITULO DO NOSSO PRODUTO, MEXER SEPERADAMENTE DEPOIS PARA AJEITAR A CONFIGURAÇAO DELE E DEIXAR ELE NO CANTO CERTO*/
.Titulo-Produto{

    background-color: blue;
    width: 250px;
    padding: 15px;
    margin-left: 35px;
    
}

.Conteiner-Produtos{

    background-color: #cccccc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin: 15px;

}

.Conteiner-Produtos img{

    width: 100%;
    max-width: 250px;
    height: auto;   
    
}

.Item-Produto{

    background-color: coral;
    width: 75%;
    height: 100%;
    justify-content: center;
    border-radius: 15px;

}

.Item-Produto:nth-child(2) img{

    width: 58%;
    margin-bottom: 15px;

}
.Item-Produto:nth-child(4) img{

    width: 40%;
    height: 46%;
    margin-bottom: 10px;
    
}

.Item-Produto h2{

    font-size:  1.75rem;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px;

}

.Item-Produto p{

    background-color: darkgreen;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 10px ;
    border-radius: 15px;

}

.Item-Produto button{

    background-color: firebrick;
    padding: 20px;
    height: 70px;
    width: 250px;
    border-radius: 10px;
    align-items: center;
    font-size: 16px;
    color: #fff;
    border: none;
    transform: 0.3;
    font-weight: bold;

}

.Item-Produto button:hover{

    transform: scale(1.1);
    cursor: pointer;

}

.Conteiner-Descricao{

    background-color: darkorange;
    padding: 15px;

}

.Conteiner-Descricao h2{

    background-color: lightblue;
    font-size: 30px;
    color: #fff;
    width: 200px;
    text-align: center;
    margin-left: 100px;
    padding: 5px;
}

.Conteiner-Descricao p {

    background-color: purple;
    font-size: larger;
    color: #fff;
    width: 600px;
    height: auto;
    letter-spacing: 2px;
    line-height: 1.3;
    padding: 5px;
    margin-left: 100px;

}

/* apenas escrever a descriçao e pronto/adicionar imagem de um gas e fazer a animaçao dele, add 3 produtos novos, por fim conctar o whatzap nos botoes
e tambem adionar um carrinho para facilitar o caminho do cliente no pedido/carrinho= soma dos produtos = valor = fazer pedido via whatzap ou chamar no disk (15) #########